@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
}
@theme {
  --color-primary: #1f282d;
  --color-secondary: #065a60;
}

.scrollbar_sidebar {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.099) #065a6000;
}
